In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
pd.Series([1, 4, 5, 'Hamid', -1, np.nan])

0        1
1        4
2        5
3    Hamid
4       -1
5      NaN
dtype: object

In [6]:
dates= pd.date_range("20220520", periods=7)

In [7]:
dates

DatetimeIndex(['2022-05-20', '2022-05-21', '2022-05-22', '2022-05-23',
               '2022-05-24', '2022-05-25', '2022-05-26'],
              dtype='datetime64[ns]', freq='D')

array([[-0.31852786, -1.051311  ,  2.15390205,  0.20120898],
       [ 0.37458099, -1.21889207,  2.27940595,  0.8209063 ],
       [-0.61800195, -0.7551517 ,  1.46325941, -0.7521794 ],
       [ 0.95294631,  1.13668999, -0.40160164, -1.11534346],
       [-0.86875697,  0.34027051, -1.15391181,  1.88994539],
       [ 0.16204185, -1.72464582,  0.04807522,  0.91616598]])

In [12]:
df=pd.DataFrame(np.random.randn(7,4), index=dates, columns = ['a','b','c','d'])

In [13]:
print(df)

                   a         b         c         d
2022-05-20 -1.365380 -2.427711  2.822647 -0.045844
2022-05-21 -0.679436  2.023068 -0.634096 -0.782462
2022-05-22 -0.620292 -1.093082  1.491700 -2.515743
2022-05-23  0.049379 -0.492923 -2.746493  0.439179
2022-05-24 -1.940825 -2.370810 -1.013463  0.085831
2022-05-25  0.855029  0.019175 -1.649914  0.470173
2022-05-26 -1.851442  2.273616 -0.853063 -0.144155

In [14]:
df.tail(4)

                   a         b         c         d
2022-05-23  0.049379 -0.492923 -2.746493  0.439179
2022-05-24 -1.940825 -2.370810 -1.013463  0.085831
2022-05-25  0.855029  0.019175 -1.649914  0.470173
2022-05-26 -1.851442  2.273616 -0.853063 -0.144155

In [15]:
df.head(4)

                   a         b         c         d
2022-05-20 -1.365380 -2.427711  2.822647 -0.045844
2022-05-21 -0.679436  2.023068 -0.634096 -0.782462
2022-05-22 -0.620292 -1.093082  1.491700 -2.515743
2022-05-23  0.049379 -0.492923 -2.746493  0.439179

In [23]:
df.describe()

              a         b         c         d
count  7.000000  7.000000  7.000000  7.000000
mean  -0.793281 -0.295524 -0.368955 -0.356146
std    1.019293  1.897520  1.900086  1.040635
min   -1.940825 -2.427711 -2.746493 -2.515743
25%   -1.608411 -1.731946 -1.331688 -0.463309
50%   -0.679436 -0.492923 -0.853063 -0.045844
75%   -0.285457  1.021122  0.428802  0.262505
max    0.855029  2.273616  2.822647  0.470173

In [21]:
df[1:4]

                   a         b         c         d
2022-05-21 -0.679436  2.023068 -0.634096 -0.782462
2022-05-22 -0.620292 -1.093082  1.491700 -2.515743
2022-05-23  0.049379 -0.492923 -2.746493  0.439179

In [22]:
df["d"]

2022-05-20   -0.045844
2022-05-21   -0.782462
2022-05-22   -2.515743
2022-05-23    0.439179
2022-05-24    0.085831
2022-05-25    0.470173
2022-05-26   -0.144155
Freq: D, Name: d, dtype: float64

In [24]:
df.mean()

a   -0.793281
b   -0.295524
c   -0.368955
d   -0.356146
dtype: float64

In [36]:
df[1:2]

                   a         b         c         d
2022-05-21 -0.679436  2.023068 -0.634096 -0.782462

In [52]:
df.loc[dates[1:3],'a':'c']

                   a         b         c
2022-05-21 -0.679436  2.023068 -0.634096
2022-05-22 -0.620292 -1.093082  1.491700

In [53]:
df.sort_values(by = 'd')

                   a         b         c         d
2022-05-22 -0.620292 -1.093082  1.491700 -2.515743
2022-05-21 -0.679436  2.023068 -0.634096 -0.782462
2022-05-26 -1.851442  2.273616 -0.853063 -0.144155
2022-05-20 -1.365380 -2.427711  2.822647 -0.045844
2022-05-24 -1.940825 -2.370810 -1.013463  0.085831
2022-05-23  0.049379 -0.492923 -2.746493  0.439179
2022-05-25  0.855029  0.019175 -1.649914  0.470173

In [55]:
df[df['a']>0]

                   a         b         c         d
2022-05-23  0.049379 -0.492923 -2.746493  0.439179
2022-05-25  0.855029  0.019175 -1.649914  0.470173

In [56]:
df.to_csv("temp_pandas_data.csv")